# Ignore everything (because dev org)
*

# But not these files...
!.gitignore
!README.md
!*/
!*/classes/ForceRTC.cls
!*/pages/ForceRTC.page
!*/pages/Together.page
!*/components/DemoCSS.component
!metadata/Connect.object